<div class="row">
    <div class="col">
        <h2> Bloques Horarios </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" nzShape="round" nzSize="default" (click)="showModalConfi()"><i nz-icon nzType="edit" nzTheme="outline"></i> Configuracion matriz</button>
    </div>
</div>
<br>
<br>
<div class="grid-container">
    <div style="width: 70%; margin: auto;">
        <label>Codigo</label>
        <input nz-input disabled="true" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}" type="text" style="width: 100%;" />
    </div>
    <div style="width: 80%; margin: auto;">
        <label>Fecha Creacion</label>
        <nz-date-picker disabled="true" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}" style="width: 100%;" nzPlaceHolder="Seleccione una Fecha"></nz-date-picker>
    </div>
    <div style="width: 100%; margin: auto;">
        <label>Descripcion</label>
        <input nz-input disabled="true" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" type="text" style="width: 100%;" />
    </div>
    <div style="width: 70%; margin: auto;">
        <button nz-button nzType="primary" nzShape="round" nzSize="default" (click)="showModal()"><i nz-icon nzType="edit" nzTheme="outline"></i>Configuracion</button>
    </div>
</div>
<div class="tabla">
    <nz-pagination [(nzPageIndex)]="pag" [nzTotal]="arrayMHID.length * 10" (click)="CrearTabla(pag)"></nz-pagination>
    <hr>
    <nz-table #nzTable [nzData]="dataMatriz" nzTableLayout="fixed" nzBordered nzShowSizeChanger nzPageSize="5">
        <thead>
            <tr>
                <th rowspan="2">Clase de Dia</th>
                <th colspan="2" *ngFor="let op of pagebyMatriz(dataPeriodo, pag)"> {{ op['periodo'] }} </th>
            </tr>
            <tr>
                <td colspan="2" *ngFor="let item of pagebyMatriz(dataPeriodo, pag); index as x" style="background-color: rgb(250, 250, 250); border: 1px solid; border-color: #e8e8e8;">
                    <div class="row text-center">
                        <div class="col" style="border-color: #e8e8e8 !important;  border-right: 1px solid;">
                            <p>Total Horas</p>
                        </div>
                        <div class="col">
                            Horario
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataMatriz; index as i">
                <td> {{GetClaseDia(data['Dia'+i])}} </td>
                <td colspan="2" *ngFor="let item of pagebyMatriz(dataPeriodo, pag); index as x">
                    <div class="row">
                        <div class="col-sm-6 text-center" style="border-color: #e8e8e8 !important;  border-right: 1px solid;">
                            <div>
                                <span style="margin-left: 2px; font-size: 15px; color: black;"> {{ data['totalh'+x] }} </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span style="font-size: 15px; color: black;"> {{ data['horario'+x] }}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div style="margin: auto; width: 50%;">
        <label>Observacion</label>
        <textarea rows="2" disabled="true" nz-input [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
</div>

<nz-modal #modal1 [(nzVisible)]="isVisible" nzTitle="Configuración bloque horario" nzWidth="900" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" style="width: 100%; margin: auto;">
        <nz-form-item>
            <nz-form-label>Código</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input style="width: 80%;" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Descripcion</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input type="text" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-tabset>
            <nz-tab nzTitle="Horarios">
                <h6>Seleccione el rango de horarios a utilizar</h6>
                <br />
                <div nz-row>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #eceeef; text-align: center;">
                            00:00<br />a<br>08:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #5cb85c; text-align: center;">
                            08:00<br />a<br>10:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="4" style="background-color: #e64040; text-align: center;">
                            10:00<br />a<br>15:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #5cb85c; text-align: center;">
                            15:00<br />a<br>17:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #eceeef; text-align: center;">
                            17:00<br />a<br>24:00
                        </div>
                    </a>
                </div>
                <br />
                <div nz-row>
                    <nz-badge nzStatus="success" nzText="Nuevo"></nz-badge>
                    <br />
                    <nz-badge nzStatus="error" nzText="Otro Bloque Horario"></nz-badge>
                    <br />
                    <nz-badge nzStatus="default" nzText="Disponible"></nz-badge>
                    <br />

                </div>
            </nz-tab>
            <nz-tab nzTitle="Periodo">
                <nz-table #tablePeriodo [nzData]="dataPeriodo" nzSize="small" [nzPageSize]="4">
                    <thead>
                        <tr>
                            <th nzWidth="10px"></th>
                            <th nzWidth="10px"></th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tablePeriodo.data">
                            <tr>
                                <td style="width: 10px;">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </td>
                                <td style="width: 10px;">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </td>
                                <td>{{ data.periodo }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>

                <div style="width: 80%; margin: auto;">
                    <label for="Descripcion">Nombre Periodo:</label>
                    <input nz-input type="text" placeholder="Escriba aquí" name="Descripcion" />
                </div>
            </nz-tab>
            <nz-tab nzTitle="Clase de Dia">
                <nz-table #tableClaseDia [nzData]="dataClaseDia" nzSize="small" [nzPageSize]="4">
                    <thead>
                        <tr>
                            <th nzWidth="10px"></th>
                            <th nzWidth="10px"></th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableClaseDia.data">
                            <tr>
                                <td style="width: 10px;">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </td>
                                <td style="width: 10px;">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </td>
                                <td>{{ data.dia }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="row">
                    <div class="col">
                        <p style="color: black; font-size: 18px; text-align: center;">Nombre de la Clase</p>
                        <hr>
                        <input nz-input placeholder="Escriba aquí" type="text" />
                        <div>
                            <label>Dias de la Semana</label>
                            <nz-input-group>
                                <label nz-checkbox>Lunes</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Martes</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Miercoles</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Jueves</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Viernes</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Sabado</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Domingo</label>
                            </nz-input-group>
                        </div>
                    </div>
                    <div class="col">
                        <p style="color: black; font-size: 18px; text-align: center;">Dias especificos</p>
                        <hr>
                        <nz-date-picker (ngModelChange)="onChange($event)" [(ngModel)]="fechaFeriado" [ngModelOptions]="{standalone: true}"></nz-date-picker>
                        <div style="display: flex; flex-direction: column;">
                            <label> Descripcion</label>
                            <input nz-input placeholder="Escriba aquí" nzSize="small" [(ngModel)]="descripcionFeriado" [ngModelOptions]="{standalone: true}" />
                            <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 10px;">
                                <button nz-button nzType="primary" nzTooltipTitle="Agregar a la lista" nzTooltipPlacement="top" nzShape="circle" nz-tooltip><i nz-icon
                                      nzType="vertical-align-bottom" nzTheme="outline"></i></button>
                                <button nz-button nzType="primary" nzTooltipTitle="Guardar lista" nzTooltipPlacement="top" nzShape="circle" nz-tooltip><i nz-icon
                                      nzType="save"></i></button>
                            </div>
                        </div>
                        <hr>
                        <div>

                            <nz-table #basicTable [nzData]="arrayDiasFeriado" nzSize="small" [nzPageSize]="4">
                                <thead>
                                    <tr>
                                        <th nzWidth="10px"></th>
                                        <th nzWidth="10px"></th>
                                        <th nzWidth="10px"></th>
                                        <th>Dia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let data of basicTable.data">
                                        <tr>
                                            <td style="width: 10px;" [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)">
                                            </td>
                                            <td style="width: 10px;">
                                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                                            </td>
                                            <td style="width: 10px;">

                                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                                            </td>
                                            <td>{{ data.name }}</td>
                                        </tr>
                                        <tr [nzExpand]="expandSet.has(data.id)">
                                            <td colSpan="4"> {{ data.name }} </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
        <br />
        <br />
        <div style="display: flex; justify-content: flex-end;">
            <button nz-button nzType="default" style="margin-right: 1%;">Registrar uno Nuevo</button>
            <button nz-button nzType="primary" style="margin-right: 1%;">Guardar Cambios</button>
        </div>
        <br />
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary">Guardar</button>
    </div>
</nz-modal>

<nz-modal #modal2 [(nzVisible)]="isVisibleConfi" nzTitle="Configuración matriz horaria" nzWidth="500" (nzOnCancel)="handleCancelConfi()">
    <form nz-form nzLayout="vertical" style="width: 100%; margin: auto;" (ngSubmit)="submitForm()" [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label>Código</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input style="width: 80%; " formControlName="codigo" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Fecha de creacion</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <nz-date-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" formControlName="fechaCreacion" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Descripcion</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input type="text" placeholder="Escribe aquí..." name="descripcion" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancelConfi()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardarMH()" [disabled]="permiso">Guardar</button>
    </div>
</nz-modal>