/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";

/* Import basic styles */

@import "~ng-zorro-antd/button/style/index.min.css";

/* Import styles of the component */

.ant-btn {
    line-height: 0.5;
}

div.ant-card-head.ng-star-inserted {
    background-color: #dbeeff;
}

.ant-btn-primary {
    color: #fff;
    background-color: #334d7c;
    border-color: #334d7c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}

svg>g[class^="raphael-group-"]>text {
    display: none;
}